.logo-one {
    color: $secondary-color;
}
.logo-two {
    color: $title-text-color;
}

.logo-two-footer {
    color: #ffffff;
    }


.logo {
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.2;
text-decoration: none;
margin-right: 93px;
}